<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nateflix</title>
</head>
<body>
    <a href="{% url 'app' 'nzbget' %}">NZBGet</a><br/>
    <a href="{% url 'app' 'headphones' %}">Headphones</a><br/>
    <a href="{% url 'app' 'requests' %}">Requests</a><br/>
    <a href="{% url 'app' 'stats' %}">Stats</a><br/>
    <a href="{% url 'app' 'sonarr' %}">Sonarr</a><br/>
    <a href="{% url 'app' 'radarr' %}">Radarr</a><br/>
    <a href="{% url 'app' 'plex' %}">Plex</a><br/>
    <a href="{% url 'setup' %}">Setup</a><br/>
</body>
</html>